body{
    margin-left: 30%;
    margin-right: 30%;
}
table{
    background-color: rgba(223, 22, 22, 0.568);

  width: 100%;
  padding left: 30%;
    
}
h1{
    color: red;
}

h3{
color: red;
}

caption{
    color: red;
    text-align: left;
    margin-bottom: 3%;
}

.numero{
    background-color: white;
}