body{
    background-color: rgb(255, 255, 255);
    margin-left:  300px;
    margin-right: 300px;

}

header{
background-color: black;

}

.letra{
    color: rgb(251, 255, 0);
    text-align: center;

}

.larg{
  color: rgb(255, 255, 255);
  text-align: center;

}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

  }

  .portada{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .texto{
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 6px;

  }

  .grid-container{
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    margin: auto;

  }

  .YA{
    color: rgb(255, 255, 255);
    text-align: center;

  }
  .rojo{
    background-color: rgba(255, 0, 0, 0.692);
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 238, 0);
    padding: 10px 10px;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    width: 410px;
    margin-left: 350px;

  }

  .sepa{
    margin-left: 362px;
    width: 400px;

  }

  .text0{
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 2px;
    font-size: 2vw;

  }

  .film{
  margin-left: 190px;
   
  }
 
  footer{
    background-color: black;

  }

.logos{
  margin-left: 180px;

}

.fotos{
  margin: 10px;
}

.trailer{
margin-left: 200px;
}